:root {
  /* Main colors */
  --primary-color: #EEEEEE;
  --secondary-color: #E9F3FF;
  --blue-background-color: #E3E9F1;
  --gray-background-color: #FCFCFF;

  /* Text colors */
  --white-text-color: #FFFFFF;
  --black-text-color: #000000;
  --red-text-color: #EF4444;
  --primary-text-color: #35354A;
  --secondary-text-color: #294478;
  --primary-subtext-color: #4B5563;
  --secondary-subtext-color: #717379;

  /* Component colors */
  --idle-bg-color: #FFFFFF;
  --idle-border-color: #DDDDDD;
  --warning-bg-color: #F97316;
  --warning-border-color: #D46A21;
  --fall-bg-color: #F53E3E;
  --fall-border-color: #DF4848;

  /* Button colors */
  --primary-button-bg: #3B82F6;
  --secondary-button-bg: #FFFFFF;
  --primary-button-border: #3B82F6;
  --secondary-button-border: #EF4444;
}