:root {
  /* Main colors */
  --primary-color: #EEEEEE;
  --secondary-color: #E9F3FF;
  /* --background-color: #f4f4f4; */
  /* --gray-background-color: #888888; */

  /* Text colors */
  --white-text-color: #FFFFFF;
  --black-text-color: #000000;
  --primary-text-color: #35354A;
  --secondary-text-color: #294478;
  --primary-subtext-color: #4B5563;
  --secondary-subtext-color: #717379;

  /* Component colors */
  --idle-bg-color: #FFFFFF;
  --idle-border-color: #DDDDDD;
  --warning-bg-color: #F97316;
  --warning-border-color: #D46A21;
  --fall-bg-color: #F53E3E;
  --fall-border-color: #DF4848;
}