<main>
  <section class="navigation-section">
    <h1>Dashboard</h1>
    <div class="buttons-container">
      <app-nav-button
        label="Dashboard"
        link="/dashboard"
        iconOn="svg/dashboard-icon-on.svg"
        iconOff="svg/dashboard-icon-off.svg"
      />
      <app-nav-button
        label="Gerenciamento"
        link="/management"
        iconOn="svg/management-icon-on.svg"
        iconOff="svg/management-icon-off.svg"
      />
    </div>
  </section>
  <section class="main-section">
    <ng-content></ng-content>
  </section>
</main>
