<main>
  <nav class="navigation-section">
    <h1>Dashboard</h1>
    <!-- renderizar elementos baseado nas rotas -->
    <div class="buttons-container">
      <div class="button-container" routerLinkActive="active-button">
        <img
          src="svg/management-icon.svg"
          class="button-icon"
          routerLinkActive="active-icon"
        />
        <a
          class="button"
          routerLink="/dashboard"
          routerLinkActive="active-button"
          ariaCurrentWhenActive="page"
        >
          Dashboard
        </a>
      </div>
      <div class="button-container" routerLinkActive="active-button">
        <img
          src="svg/management-icon.svg"
          class="button-icon"
          routerLinkActive="active-icon"
        />
        <a
          class="button"
          routerLink="/management"
          routerLinkActive="active-button"
          ariaCurrentWhenActive="page"
        >
          Gerenciamento
        </a>
      </div>
    </div>
  </nav>
  <section class="main-section">
    <ng-content></ng-content>
  </section>
</main>
