main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  height: 100%;
}

h1 {
  margin-bottom: 20px;

  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;

  color: var(--primary-text-color);
}

.navigation-section {
  flex-grow: 0.1;
  padding: 24px 16px 0 16px;

  border-right: 1px solid var(--primary-color);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.main-section {
  flex-grow: 1;
  padding: 24px 40px;
  gap: 8px;

  background-color: var(--gray-background-color);
}