<app-layout
  title="Faça o login na aplicação"
  primaryBtnText="Login"
  secondaryBtnText="Criar conta"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="johndoe@gmail.com"
    >
      <img slot="icon" />
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="senha"
      type="password"
      label="Senha"
    >
      <img slot="icon" />
    </app-primary-input>
    <span>Esqueceu a senha?</span>
  </form>
</app-layout>
