@import '../../styles/variables.css';

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  margin-bottom: 34px;

  span {
    font-size: 14px;
    text-decoration: underline;
    color: var(--secondary-color);
    text-align: end;
  }
}