main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 100%;
  padding: 16px;
  gap: 8px;

  background: var(--idle-bg-color);
  border: 1px solid var(--idle-border-color);
  border-radius: 6px;
}

div {
  display: flex;
  flex-direction: column;
  color: var(--primary-subtext-color);
}

.upper-section {
  display: flex;
  width: 100%;
}

.lower-section {}

.pause-alert {}

.fall-risk-alert {
  background: var(--warning-bg-color);
  border: 1px solid var(--warning-border-color);
}

.fall-alert {
  background: var(--fall-bg-color);
  border: var(--fall-border-color);
}

.alert-text {
  color: var(--white-text-color);
}

