.button-container {
  display: flex;
  align-items: center;
  width: 184px;
  padding: 10px 12px;
  gap: 12px;
  align-self: stretch;

  border-radius: 12px;
}

.button {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;

  color: var(--secondary-subtext-color);
}

.button-icon {
  height: 15px;
  width: 12px;
}

.active-button {
  background: var(--blue-background-color);
  color: var(--secondary-text-color);
}