<app-layout>
  <main>
    <section class="header-section">
      <h1>Ambiente</h1>
    </section>
    @if (patientsQuery.isPending()) { Loading... } @else if
    (patientsQuery.isError()) { Error: {{ patientsQuery.error().message }}
    } @else if (patientsQuery.isSuccess()) {
    <section class="patients-section">
      @for (patient of patientsQuery.data(); track patient) {
      <app-patient-card-container-dashboard [patientData]="patient" />
      }
    </section>
    }
  </main>
</app-layout>
