main {
  height: 100%;
}

section {}

h1 {}

.header-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.patients-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}