@import "../../styles/variables.css";

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  gap: 12px;
  align-self: stretch;

  border-radius: 12px;

  span {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

    color: var(--secondary-text-color);
  }
}